.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: white;
    padding-left: 25px;

    > img {
        width: 128px;
        height: 34px;
    }
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #1FBFAE;
    color: white;
    height: 50px;
    padding-left: 25px;
}